<?xml version="1.0" encoding="UTF-8"?>
 
  <launch>
  <rosparam command="load" file="$(find localization_bridge)/config/gps_config.yaml" />
  <include file="$(find localization_bridge)/launch/bridge.launch"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name"   value="$(find sim_pkg)/worlds/world2025.world"/>
    <arg name="paused"       value="false"/>    
    <arg name="use_sim_time" value="true"/>
    <arg name="debug"        value="false"/>
    <arg name="gui"          value="true"/>
  </include>
  
  <include file="$(find sim_pkg)/launch/sublaunchers/ramp.launch"></include>
  <include file="$(find sim_pkg)/launch/sublaunchers/separators.launch"></include>
  <include file="$(find sim_pkg)/launch/sublaunchers/separators.launch"></include>

  <arg name="x_init" default="2.88"/>
  <param name="x_init" value="$(arg x_init)"/>
  <arg name="y_init" default="2.086"/>
  <param name="y_init" value="$(arg y_init)"/>
  <arg name="z_init" default="0.032939"/>
  <param name="z_init" value="$(arg z_init)"/>
  <arg name="yaw_init" default="1.5708"/>
  <param name="yaw_init" value="$(arg yaw_init)"/>
  <param name="path_name" value="run3"/>

  <node pkg="sim_pkg" type="delay.sh" args="5 sim_pkg spawn_signs.launch"      name="signs"       output="screen"/>

  <node
    name  = "car1"
    pkg   = "gazebo_ros"
    type  = "spawn_model"
    args  = "-file $(find models_pkg)/rcCar_assembly1/model.sdf -model car1 -sdf -x $(arg x_init) -y $(arg y_init) -z $(arg z_init) -Y $(arg yaw_init)">
  </node>

  <node
    name  = "pedestrian_object"
    pkg   = "gazebo_ros"
    type  = "spawn_model"
    args  = "-file $(find models_pkg)/pedestrian_object/model.sdf -model pedestrian_object -sdf -x 0 -y 0 -z -1 -Y 0">
  </node>

  <node
    name  = "car_008"
    pkg   = "gazebo_ros"
    type  = "spawn_model"
    args  = "-file $(find models_pkg)/car_008/model.sdf -model car_008 -sdf -x 1 -y 0 -z -1 -Y 0">
  </node>

  <node
    name  = "car_019"
    pkg   = "gazebo_ros"
    type  = "spawn_model"
    args  = "-file $(find models_pkg)/car_019/model.sdf -model car_019 -sdf -x 2 -y 0 -z -1 -Y 0">
  </node>

  <node
    name  = "car_046"
    pkg   = "gazebo_ros"
    type  = "spawn_model"
    args  = "-file $(find models_pkg)/car_046/model.sdf -model car_046 -sdf -x 3 -y 0 -z -1 -Y 0">
  </node>

  <node
    name  = "car_144"
    pkg   = "gazebo_ros"
    type  = "spawn_model"
    args  = "-file $(find models_pkg)/car_144/model.sdf -model car_144 -sdf -x 4 -y 0 -z -1 -Y 0">
  </node>

  <node
    name  = "car_beetle"
    pkg   = "gazebo_ros"
    type  = "spawn_model"
    args  = "-file $(find models_pkg)/car_beetle/model.sdf -model car_beetle -sdf -x 5 -y 0 -z -1 -Y 0">
  </node>

  <node
    name  = "car_lexus"
    pkg   = "gazebo_ros"
    type  = "spawn_model"
    args  = "-file $(find models_pkg)/car_lexus/model.sdf -model car_lexus -sdf -x 6 -y 0 -z -1 -Y 0">
  </node>

  <node
    name  = "car_opel"
    pkg   = "gazebo_ros"
    type  = "spawn_model"
    args  = "-file $(find models_pkg)/car_opel/model.sdf -model car_opel -sdf -x 7 -y 0 -z -1 -Y 0">
  </node>

  <node
    name  = "car_polo"
    pkg   = "gazebo_ros"
    type  = "spawn_model"
    args  = "-file $(find models_pkg)/car_polo/model.sdf -model car_polo -sdf -x 8 -y 0 -z -1 -Y 0">
  </node>

  <node
    name  = "car_volvo"
    pkg   = "gazebo_ros"
    type  = "spawn_model"
    args  = "-file $(find models_pkg)/car_volvo/model.sdf -model car_volvo -sdf -x 9 -y 0 -z -1 -Y 0">
  </node>

  <node name="seperator0" pkg="gazebo_ros" type="spawn_model" 
    args="-file $(find models_pkg)/separator/model.sdf -model separator0 -sdf 
    -x 6.766862869262695 -y 11.995134353637695 -z 0 -Y -1.5708"/>

  <node name="seperator1" pkg="gazebo_ros" type="spawn_model" 
    args="-file $(find models_pkg)/separator/model.sdf -model separator1 -sdf 
    -x 7.25848388671875 -y 11.993330001831055 -z 0 -Y -1.5708"/>

  <node name="seperator2" pkg="gazebo_ros" type="spawn_model" 
    args="-file $(find models_pkg)/separator/model.sdf -model separator2 -sdf 
    -x 7.749112129211426 -y 11.995311737060547 -z 0 -Y -1.5708"/>

  <node name="seperator3" pkg="gazebo_ros" type="spawn_model" 
    args="-file $(find models_pkg)/separator/model.sdf -model separator3 -sdf 
    -x 8.23953628540039 -y 11.990684509277344 -z 0 -Y -1.6190"/>

  <node name="seperator4" pkg="gazebo_ros" type="spawn_model" 
    args="-file $(find models_pkg)/separator/model.sdf -model separator4 -sdf 
    -x 8.730366706848145 -y 11.943814277648926 -z 0 -Y -1.7312"/>

  <node name="seperator5" pkg="gazebo_ros" type="spawn_model" 
    args="-file $(find models_pkg)/separator/model.sdf -model separator5 -sdf 
    -x 9.207830429077148 -y 11.835541725158691 -z 0 -Y -1.8740"/>

  <node name="seperator6" pkg="gazebo_ros" type="spawn_model" 
    args="-file $(find models_pkg)/separator/model.sdf -model separator6 -sdf 
    -x 9.66402530670166 -y 11.645753860473633 -z 0 -Y -2.0344"/>

  <node name="seperator7" pkg="gazebo_ros" type="spawn_model" 
    args="-file $(find models_pkg)/separator/model.sdf -model separator7 -sdf 
    -x 10.097311973571777 -y 11.41085147857666 -z 0 -Y -2.0944"/>

  <node name="seperator8" pkg="gazebo_ros" type="spawn_model" 
    args="-file $(find models_pkg)/separator/model.sdf -model separator8 -sdf 
    -x 10.526208877563477 -y 11.16561508178711 -z 0 -Y -2.0995"/>

  <node name="seperator9" pkg="gazebo_ros" type="spawn_model" 
    args="-file $(find models_pkg)/separator/model.sdf -model separator9 -sdf 
    -x 10.958582878112793 -y 10.932111740112305 -z 0 -Y -1.9824"/>

  <node name="seperator10" pkg="gazebo_ros" type="spawn_model" 
    args="-file $(find models_pkg)/separator/model.sdf -model separator10 -sdf 
    -x 11.413477897644043 -y 10.745676040649414 -z 0 -Y -1.9034"/>

  <node name="seperator11" pkg="gazebo_ros" type="spawn_model" 
    args="-file $(find models_pkg)/separator/model.sdf -model separator11 -sdf 
    -x 11.890427589416504 -y 10.640175819396973 -z 0 -Y -1.6908"/>

  <node name="seperator12" pkg="gazebo_ros" type="spawn_model" 
    args="-file $(find models_pkg)/separator/model.sdf -model separator12 -sdf 
    -x 12.38198471069336 -y 10.603184700012207 -z 0 -Y -1.6308"/>

  <node name="seperator13" pkg="gazebo_ros" type="spawn_model" 
    args="-file $(find models_pkg)/separator/model.sdf -model separator13 -sdf 
    -x 12.8734 -y 10.5934 -z 0 -Y -1.5708"/>

  <node name="seperator14" pkg="gazebo_ros" type="spawn_model" 
    args="-file $(find models_pkg)/separator/model.sdf -model separator14 -sdf 
    -x 13.362000465393066 -y 10.589799880981445 -z 0 -Y -1.5708"/>

  <node name="seperator15" pkg="gazebo_ros" type="spawn_model" 
    args="-file $(find models_pkg)/separator/model.sdf -model separator15 -sdf 
    -x 13.844159126281738 -y 10.593681335449219 -z 0 -Y -1.5708"/>

  </launch>
